<h2 class="text-white">My sales List</h2>

<ul>
{{#each user.salesList}}
<li class="list-style">
<div class="card" style="width: 16rem;">
  <a href="/album/own-album-details/{{_id}}" class="text-black">
  <img src="{{this.images.0.uri}}" class="card-img-top" alt="{{this.title}}">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.year}}</p>
    <p>
    {{#each this.artists}}
    {{this.name}}
    {{/each}}
    </p></a>
    <div  class="buttons-style">
    <form action="/profile/sales-list/{{_id}}/delete" method="POST">
      <div style="display: none;">
        <input type="text" name="_id" value="{{_id}}">
      </div>
      <button type="submit" class="btn btn-secondary button">Delete of my sales list</button>
    </form>
    <form action="/profile/sales-list/{{_id}}/sold" method="POST">
      <div style="display: none;">
        <input type="text" name="_id" value="{{this._id}}">
      </div>
      <button type="submit" class="btn btn-secondary button">Sold</button>
    </form>
    </div>
  </div>
</div>
</li>           
{{/each}}
</ul>