<h2>Album details</h2>


            <form action="/profile/my-list/{{albums._id}}" method="POST">
                <div style="display: none;">
                    <input type="text" name="_id" value="{{albums._id}}">
                </div>
                <button type="submit" class="btn btn-outline-secondary">Add to my list</button>
            </form>
            <form action="/profile/wish-list/{{albums._id}}" method="POST">
                <div style="display: none;">
                    <input type="text" name="_id" value="{{albums._id}}">
                </div>
                <button type="submit" class="btn btn-outline-secondary">Add to wish list</button>
            </form>




<img src="{{albums.images.0.uri}}" alt="{{albums.title}}">
<p>Price: {{albums.lowest_price}}</p>
<p>Title: {{albums.title}}</p>
<p>Year : {{albums.year}}</p>
<p>Formats:</p>
{{#if albums.formats}}
<ul>
{{#each albums.formats}}
 <li>{{this.name}}</li>
{{/each}}
</ul>
{{/if}}
<p>Artists:</p>
<ul>
{{#each albums.artists}}
 <li>{{this.name}}</li>
{{/each}}
</ul>
<p>Tracklist: </p>
<ol>
{{#each albums.tracklist}}
 <li>{{this.title}}  /  {{this.duration}}</li> 

 {{!-- <p>Extra artists: </p>
 <ul>
 {{#each this.extraartists}}
 <li>{{this.name}}</li> 
 {{/each}}  --}}
</ul>
{{/each}}
</ol>



 