<h2 class="text-white">Album details</h2>
<div class="album-details scroll">
<div class="card" style="width: 20rem; height:fit-content">
  <img src="{{albums.images.0.uri}}" class="card-img-top" alt="{{albums.title}}">
  <div class="card-body">
    <h5 class="card-title">{{albums.title}}</h5>
    <p class="card-text">{{albums.year}}</p>
    {{#if albums.artists}}
    <ul>{{#each albums.artists}}
    <li class="list-style">{{albums.name}}</li>
    {{/each}}</ul>
    {{/if}}
{{#if albums.formats}}
    <p>Formats:</p>
<ul>
{{#each albums.formats}}
 <li>{{this.name}}</li>
{{/each}}
</ul>
{{/if}}
<p>Tracklist: </p>
<ol>
{{#each albums.tracklist}}
 <li>{{this.title}}  {{#if this.duration}}/  {{this.duration}} {{/if}} </li> 
{{/each}}
</ol>
{{#if albums.videos}}
<p>Videos:</p>
<ul>
  {{#each albums.videos}}
 <li>{{this.uri}}</li> 
  {{/each}}
</ul>
{{/if}}
    <div  class="buttons-style">
    <form action="/profile/my-list/{{albums._id}}" method="POST">
      <div style="display: none;">
        <input type="text" name="_id" value="{{albums._id}}">
      </div>
      <button type="submit" class="btn btn-secondary button">Add to my list</button>
    </form>
    <form action="/profile/wish-list/{{albums._id}}" method="POST">
      <div style="display: none;">
        <input type="text" name="_id" value="{{albums._id}}">
      </div>
      <button type="submit" class="btn btn-secondary button">Add to my wish list</button>
    </form>
    </div>
  </div>
</div>
</div>