<h2>Album details</h2>

<img src="{{album.images.0.uri}}" alt="{{album.title}}">
<p>Title: {{album.title}}</p>
<p>Year : {{album.year}}</p>
<p>Formats:</p>
<ul>
{{#each album.formats}}
 <li>{{this.name}}</li>
{{/each}}
</ul>
<p>Artists:</p>
<ul>
{{#each album.artists}}
 <li>{{this.name}}</li>
{{/each}}
</ul>
<p>Tracklist: </p>
<ol>
{{#each album.tracklist}}
 <li>{{this.title}}  /  {{this.duration}}</li> 

 {{!-- <p>Extra artists: </p>
 <ul>
 {{#each this.extraartists}}
 <li>{{this.name}}</li> 
 {{/each}}  --}}
</ul>
{{/each}}
</ol>



 