


<div class="searcher">
<form action="/album/all-albums" method="get">
  <div class="form-floating">
    <label for="artist">Search by artist: </label>
    <input type="text" name="artist" class="form-control" placeholder="Search by artist">
  </div>
 <button type="submit" class="btn btn-outline-primary text-white">Search</button>
</form>
{{#if errorMessage}}
<p>{{this.errorMessage}}</p>
{{/if}}
</div>
<div class="search-result">
{{#each album}}
<ul>
<a href="/album/album-details/{{id}}">
   <li>
      {{this.title}}
      <img src="{{this.cover_image}}" alt="{{this.title}}">
    </li>
  </a> 
</ul>
{{/each}}
</div>