


<div >
 <div class="form-floating searcher">
  <form action="/album/all-albums" method="get">
    <input type="text" name="artist" class="form-control search" placeholder="Search by artist">
    <button type="submit" class="btn btn-outline-ligth button akira text-white">Search</button>
  </form>
 </div>
{{#if errorMessage}}
<p>{{this.errorMessage}}</p>
{{/if}}
</div>
<div class="search-result scroll">
<ul>
{{#each album}}
<li class="list-style">
<div class="card" style="width: 16rem;">
  <a href="/album/album-details/{{id}}" class="text-black">
  <img src="{{this.cover_image}}" class="card-img-top" alt="{{this.title}}">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.year}}</p>
    </a>
  </div>
</div>
</li>           
{{/each}}
</ul>
</div>

{{#each album}}
<li class="list-style">
<div class="card" style="width: 16rem;">
  <a href="/album/album-details/{{id}}" class="text-black">
  <img src="{{this.cover_image}}" class="card-img-top" alt="{{this.title}}">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.year}}</p>
    </a>
  </div>
</div>
</li>           
{{/each}}
</ul>