


<div class="searcher">
<form action="/album/all-albums" method="get">
  <div class="form-floating">
    <label for="artist">Search by artist: </label>
    <input type="text" name="artist" class="form-control" placeholder="Search by artist">
  </div>
 <button type="submit" class="btn btn-outline-primary text-white">Search</button>
</form>
{{#if errorMessage}}
<p>{{this.errorMessage}}</p>
{{/if}}
</div>
<div class="search-result">
<ul>
{{#each album}}
<li class="list-style">
<div class="card" style="width: 16rem;">
  <a href="/album/album-details/{{id}}" class="text-black">
  <img src="{{this.cover_image}}" class="card-img-top" alt="{{this.title}}">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.year}}</p>
    </a>
  </div>
</div>
</li>           
{{/each}}
</ul>
</div>

{{#each album}}
<li class="list-style">
<div class="card" style="width: 16rem;">
  <a href="/album/album-details/{{id}}" class="text-black">
  <img src="{{this.cover_image}}" class="card-img-top" alt="{{this.title}}">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.year}}</p>
    </a>
  </div>
</div>
</li>           
{{/each}}
</ul>